html,
body {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.main-header {
  background: #CF2B2B;
  height: 6.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  filter: drop-shadow(0 0.3rem 0.2rem gray);
}

.header-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  margin-left: 1.2rem;
}
.header-text h1, .header-text p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-text h1 {
  font: 3rem "Righteous", cursive;
  height: 2.6rem;
  margin-bottom: 0.4rem;
}
.header-text p {
  font: 1.1rem "Roboto", sans-serif;
  height: 1rem;
}

.full-container, .main-content {
  width: 100%;
}

.main-section {
  width: 100vw;
  flex-direction: column;
}

.full-container, .main-content, .main-section {
  display: flex;
}

.menu-container, .dish-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-container {
  margin-top: 6.4rem;
  margin-bottom: 4rem;
}
.menu-container section, .menu-container li {
  display: inherit;
  flex-direction: inherit;
}
.menu-container li {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-container li img {
  width: 9rem;
  max-height: 8rem;
  margin-left: 0.2rem;
}
.menu-container ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow-x: scroll;
  margin-top: 0.5rem;
}
.menu-container section {
  margin: 1.4rem 0 0 0;
}
.menu-container section h2 {
  margin: 0 0 0 1.3rem;
  font: 1.4rem "Righteous", cursive;
}
.menu-container section:last-child {
  margin-bottom: 1rem;
}

.dishes li, .drinks li, .desserts li {
  border-radius: 0.6rem;
  width: 11.5rem;
  height: 15rem;
  margin-left: 1rem;
  padding: 0.8rem;
  border-color: #ffffff;
}
.dishes li h3, .dishes li span, .dishes li p, .drinks li h3, .drinks li span, .drinks li p, .desserts li h3, .desserts li span, .desserts li p {
  font-family: "Roboto", sans-serif;
  margin-top: 0.6rem;
  margin-bottom: 0;
}
.dishes li h3, .drinks li h3, .desserts li h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #333333;
}
.dishes li p, .drinks li p, .desserts li p {
  font-size: 0.95rem;
  font-weight: 300;
  color: #a6a6a6;
}
.dishes li span, .drinks li span, .desserts li span {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
.dishes li:last-child, .drinks li:last-child, .desserts li:last-child {
  margin: 0 1rem 0 1rem;
}
.dishes .dishes-active, .dishes .drinks-active, .dishes .desserts-active, .dishes li, .drinks .dishes-active, .drinks .drinks-active, .drinks .desserts-active, .drinks li, .desserts .dishes-active, .desserts .drinks-active, .desserts .desserts-active, .desserts li {
  border-style: solid;
  border-width: 0.2rem;
  transition: 0.2s border-color ease-in-out;
}
.dishes .dishes-active, .dishes .drinks-active, .dishes .desserts-active, .drinks .dishes-active, .drinks .drinks-active, .drinks .desserts-active, .desserts .dishes-active, .desserts .drinks-active, .desserts .desserts-active {
  border-color: #32b72f;
}

.fixed-footer {
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixed-footer a {
  background-color: #cbcbcb;
}
.fixed-footer a p {
  width: 20rem;
  font: 1rem "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
.fixed-footer a span {
  display: none;
}
.fixed-footer a, .fixed-footer .active-order-button {
  border-style: none;
  border-radius: 5rem;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  width: 22rem;
  height: 3.5rem;
  transition: 0.4s background-color ease-in-out;
}
.fixed-footer .active-order-button {
  background-color: #32b72f;
}
.fixed-footer .active-order-button p {
  display: none;
}
.fixed-footer .active-order-button span {
  width: 20rem;
  font: 1rem "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
