@use 'globals';

.fixed-footer {
    background-color: globals.$footer-background;
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

    a {
        background-color: globals.$button-inactive-background;
        text-decoration: none;
        color: globals.$button-font-color;
       
        p {
            width: 20rem;
            font: 1rem globals.$small-font;
            font-weight: 400;
            color: globals.$button-font-color;
            display: flex;
            justify-content: center;
            visibility: visible;
            opacity: 1;
        }
    
        span {
            font-size: 0;
            width: 0;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s visibility, 0.3s opacity ease-in-out;
        }
    }

    a:hover {
        cursor: pointer;
    }

    a, .active-order-button {
        border-style: none;
        border-radius: 5rem;
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        width: 22rem;
        height: 3.5rem;
        transition: 0.4s background-color ease-in-out;
    }

    .active-order-button {
        background-color: globals.$button-active-background;
        width: fit-content;
    
        p {
            visibility: hidden;
            opacity: 0;
            transition: 0.3s visibility, 0.3s opacity ease-in-out;
            display: none;
            width: 0;
            font-size: 0;
        }
    
        span {
            width: 20rem;
            font: 1rem globals.$small-font;
            font-weight: 400;
            color: globals.$button-font-color;
            display: flex;
            justify-content: center;
            visibility: visible;
            opacity: 1;
        }
    }
}

.fixed-footer-faded {
    opacity: 10%;
}