@use 'globals';

.main-header {
    background: globals.$header-background;
    height: 6.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    filter: drop-shadow(0 0.1rem 0.1rem gray);
}

.header-text {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: fixed;
    margin-left: 1.2rem;

    h1, p {
        margin: 0;
        padding: 0;
        color: globals.$header-font-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    h1 {
        font: 3rem globals.$main-font;
        height: 2.6rem;
        margin-bottom: 0.4rem;
    }

    p {
        font: 1.1rem globals.$small-font;
        height: 1rem;
    }
}

@media (min-width: 415px) {
    .main-header {
        justify-content: center;
    }
}