@use 'globals';

.full-container, .main-content {
    width: 100%;
}

.main-section {
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
    transition: 0.2s opacity linear;
}

.full-container, .main-content, .main-section {
    display: flex;
}
